<div class="row">
  <div class="col xs12">
    <a [routerLink]="['/', 'dashboard']">Back</a>
  </div>
</div>
<table>
  <caption>Students</caption>
  <thead>
    <tr>
      <th>
        <input type="checkbox" [(ngModel)]="checkUncheckAll" (click)="onCheckUncheckAll()">
      </th>
      <th (click)="byId()" [ngClass]="{'sorted': sortDefault === 'id'}">
        <span class="down-sort" *ngIf="sortDefault === 'id' && byIdSortOrder === 1">&gt;</span>
        Id
        <span class="up-sort" *ngIf="sortDefault === 'id' && byIdSortOrder === -1">&lt;</span>
      </th>
      <th>
        Initials
      </th>
      <th (click)="byLastname()" [ngClass]="{'sorted': sortDefault === 'lastName'}">
        <span class="down-sort" *ngIf="sortDefault === 'lastName' && byLastNameSortOrder === 1">&gt;</span>
        Lastname
        <span class="up-sort" *ngIf="sortDefault === 'lastName' && byLastNameSortOrder === -1">&gt;</span>
      </th>
      <th>Firstname</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody *ngIf="students.length">
    <tr *ngFor="let student of students">
      <td>
        <input type="checkbox" [(ngModel)]="student.isSelected!" (click)="onSelectStudent(student)">
      </td>
      <td>{{ student.id }}</td>
      <td>
        {{ student | initials}}
      </td>
      <td>{{ student.lastName | uppercase}}</td>
      <td>{{ student.firstName }}</td>
      <td>{{ student.email }}</td>
    </tr>
  </tbody>
</table>

